.sidebar{
  position: fixed;
  width: 100%;
  max-width: 250px;
  top: 0;
  left: -250px;
  height: 100%;
  transition: left .6s ease;
  padding: 60px 10px 5px;
  background-color: $primary;
  color: $light;
  z-index: 10;
  ul{
    position: relative;
    width: unset;
    overflow: scroll;
    list-style: none;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    li{
      padding: 1rem;
      &:first-child{
        h4{
          margin: 0;
        }
      }
      &.active{
        background-color: $light;
        color: $color;
      }
    }
    a{
      display: flex;
      align-items: center;
    }
    .icon{
      margin-right: 1rem;
    }
  }
  .languages p{
    display: flex;
    align-items: center;
    .spacer{
      margin: 0 10px;
    }
  }
  &.active{
    left: 0;
  }
  @media screen and (min-width: 992px){
    display: none;
  }
}

.sidebar-toggle {
  width: 30px;
  height: 22.5px;
  position: absolute;
  margin: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 20;
  top: 1.5rem;
  left: 1.5rem;
  span{
    display: block;
    position: absolute;
    height: 3.5px;
    width: 100%;
    background: $primary;
    border-radius: 4.5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 9px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 18px;
      transform-origin: left center;
    }
  }

  &.open{
    span{
      background-color: $light;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: -1px;
        left: 4px;
      }
      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 20px;
        left: 4px;
      }
    }
  }

}