version: '3'

services:

    database:
        image: mysql:5.7
        volumes:
            - ./db_data:/var/lib/mysql
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: main
            MYSQL_DATABASE: main
            MYSQL_USER: main
            MYSQL_PASSWORD: main

    redis:
        image: redis:5-alpine
        ports:
            - 6379:6379

    rabbitmq:
        image: rabbitmq:3.7-management
        ports:
            - 5672:5672
            - 15672:15672

    mailcatcher:
        image: schickling/mailcatcher
        ports:
            - 1025:1025
            - 1080:1080
  #  blackfire:
  #      image: blackfire/blackfire
  #      env_file: .env
  #      ports: [8707]
