@import "input";

.formContainer{
  width: 100%;
  max-width: 330px;
  margin: 1rem auto;
  padding: 30px 40px 90px;
  img{
    max-width: 180px;
    width: 100%;
  }

  .passwordLost{
    font-size: 13px;
    text-align: center;
  }
}
.formLogo{
  text-align: center;
  margin-bottom: 1.75rem;
}
.formCheckbox{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 35px;
  input{
    cursor: pointer;
    margin: 0 10px 0 0;
    -webkit-appearance: unset;
    border: 1px solid $primary;
    padding: 6px;
    width: 0;
    &:checked{
      background-color: $primary;
      outline: none;
    }
  }
}
.formField {
  display: flex;
  flex-direction: column;
}
.formSearch{
  border: 1px solid $primary;
}
.accountForm{
  display: grid;
  place-content: center;
  margin-top: 5rem;
}