.alerts {
  position: fixed;
  top: 5%;
  right: 1%;
  width: 100%;
  height: 100%;
  max-width: 350px;
  z-index: 101;
  pointer-events: none;
}

.alert {
  overflow: hidden;
  font-size: .9rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: .75rem;
  margin-bottom: 1rem;
  width: 100%;
  transition: all .5s ease;
  border-left: 5px solid $primary;
  position: relative;
  pointer-events: all;
  &.hidden{
    opacity: 0;
    transform: translateX(100%);
  }
  button {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &-danger {
    border-left: 5px solid $danger;
  }

  &-success {
    border-left: 5px solid $success;
  }
}