//Variables
@import "variables";

//Custom Reset
@import "reset/reset";

//Partials
@import "partials/index";

//Blocks
@import "blocks/index";

//lib
//@import "lib/fontawesome/scss/fontawesome.css";