.btn{
  display: inline-block;
  font-weight: 400;
  color: $light;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $color;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .4s ease;
  width: 100%;
  max-width: 270px;
  cursor: pointer;
  &.active, &:hover{
    opacity: .90;
  }
}
@import "btn";
@import "btn-outline";