.card{
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
  transform: translateY(0);
  .card-img-top{
    width: 100%;
    &.icon{
      height: 100px;
    }
  }
  .card-body{
    padding: 1rem;
  }
  .card-title{
    padding: .8rem 0;
    margin: 0;
  }
}
.boxesRow{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}
