body{
  font-family: 'avenirNextCondensed', sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  overflow-wrap: anywhere;
}
.wecontainer {
  width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: 0 auto;
}
.img-resp{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
  transition: all .5s ease;
  &:hover{
    //transform: scale(.95);
  }

}
.no-js{
  *{
    transition: none!important;
  }
}