header{
  display: grid;
  align-items: center;
  padding: 1rem 0;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  .sidebar-toggle{
    display: block;
  }
  @media screen and (min-width: 992px){
    grid-template-columns: 1fr 3fr;
  .sidebar-toggle{
      display: none;
    }
  }
}
.logo{
  text-align: center;
  a{
    display: block;
  }
  img{
    max-width: 100%;
    width: 200px;
  }
}
.menu{
  ul{
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    padding-left: 10px;
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      a{
        color: var(--dark);
        display: flex;
        align-items: center;
      }
    }
    @media screen and (max-width:992px) {
      display: none;
    }
  }
}
