@font-face{
  font-family:"avenirNextCondensed";
  src:url("/assets/fonts/avenirNextCondensed/avenir-next-condensed.woff2") format("woff2"),
  url("/assets/fonts/avenirNextCondensed/avenir-next-condensed.woff") format("woff");
}
