table{
  width: 100%;
  border-spacing: 0 5px;
  td, th{
    padding: 1rem;
    vertical-align: top;
    text-align: center;
    &:first-child{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    &:last-child{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  tbody{
    tr{
      background-color: $gray;
      &:nth-child(2n+2){
        background-color: darken($gray, 15%);
      }
    }
  }
}